/* VV TEAM STYLESHEET - REPARATIE NEXUS */
:root {
    --bg: #050507;
    --gold: #D4AF37;
}

body {
    background-color: var(--bg) !important;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

* { box-sizing: border-box; }